<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Show all users in department</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
      
      <h3>Users (<a href = "{{ url_for('signup') }}">Register a new user</a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>Firstname</th>
               <th>Lastname</th>
               <th>Email</th>
               <th>Password</th>
               <th>Department</th>
            </tr>
         </thead>
         
         <tbody>
            {% for user in Users %}
               <tr>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.last_name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.password }}</td>
                  <td>{{ user.department_id }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>